/* GENERAL */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff8eb !important; 
}


/* MENU */

.titleColor { /* Background-color de la navbar */
    color: #461002 !important;
}

.perso_bgBlack { /* Background-color de la navbar */
    background-color: #461002 !important;
}

.nav-link { /* Couleur jaune des liens navbar */
    color: #ff9f1a !important;
    font-size: 20px;
    margin-right: 1rem;
}

.nav-link:hover {
    color: #ffbc4a !important;
}

/* LES ELEMENTS DE GAUCHE DANS LE MENU */
.navbar-brand { 
    animation-name: brand;
    animation-duration: 1s;
    position: relative;
}
@keyframes brand { /* Permet de cibler l'élément brand | Animation du menu */
        0%{left:-1000px;} /* Fais une transition de la position -1000px à 0px depuis la gauche*/
        100%{left:0px;}
}

/* LES ELEMENTS DE DROITE DANS LE MENU */
.navbar-nav { 
    animation-name: lien;
    animation-duration: 1.1s;
    position: relative;
}
@keyframes lien { /* Permet de cibler l'élément nav-item */
        0%{left:1000px;} /* Fais une transition de la position -1000px à 0px depuis la droite*/
        100%{left:0px;}
}

/* PRESENTATION */

/* Cible la div de l'image */  
div.presentation { 
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 250px; /* Vous pouvez ajuster la hauteur selon vos besoins */
}

/* Cible l'image */
div.presentation img { 
    border-radius: 15px;                           
    animation-name: image;
    animation-duration: 1.5s;
    position: relative;
}
/* ANIMATION DE L'IMAGE */
@keyframes image { /* Permet de cibler le nom de l'animation plus haut */
        0%{left:-1000px;} /* Fais une transition de la position -1000px à 0px depuis la gauche*/
        100%{left:0px;}
}

/* Cible la div du texte */
div.presentationDescription { 
    display: flex;
    align-items: center; /* Aligne verticalement le texte au centre */
    height: 250px; /* Vous pouvez ajuster la hauteur selon vos besoins */
    border-radius: 15px; /* Vous pouvez ajuster la valeur du rayon selon vos préférences */
    background-color: #fff8eb!important; /* Couleur de fond pour illustrer l'effet d'arrondi */
    border: 1px solid #ffd688; /* Pour visualiser la zone de l'élément parent */
    overflow: hidden; /* Ou overflow: auto; selon vos préférences */
}

/* Cible le texte */
div.presentationDescription p { /* Cible le texte */                          
    animation-name: texte;
    animation-duration: 1.5s;
    position: relative;
}
/* ANIMATIN DU TEXTE */
@keyframes texte { /* Permet de cibler le texte */
        0%{left:1000px;} /* Fais une transition de la position 1000px à 0px depuis la gauche*/
        100%{left:0px;}
}

/* bouton téléchargement CV */
.monBouton {
    margin-top: 2rem;
    animation-name: bouton;
    background-color: #ff9f1a;
    color: #461002;
    border: #461002;
    animation-duration: 1.1s;
    width: 200px;
    animation-iteration-count: infinite; /* Permet de faire indéfiniment l'animation */
    animation-direction: alternate; /* L'animation partira de 0% à 100% puis de 100% à 0% */
}

.monBouton:hover {
    background-color: #ffbc4a;
}

.monBouton:active {
    background-color: #f97d07;
}

@keyframes bouton {
    0% {
        transition: all 500ms ease-in;
        transform : scale(1);
    }
    100% {
        transition: all 500ms ease-in;
        transform : scale(1.1);
    }
}

/* SECTION EXPERIECES PROFESSIONNELS */

/* Cible l'image des cards professionnels */
.bouton-card {
    border-color: #ffbc4a !important;
    border-radius: 15px;
}

.cardPro {
    border:none !important;
    border-radius: 15px;

}

.bouton-card:hover {
    border-color: #ff9f1a !important;
}

.divEntreprises1 {
    align-items: center;
}



/* JE LE GARDE POUR FAIRE L'ANIMATION DE MES CARDS PROJETS */

/* Description des témoigagent */
div p {
    color: RGBA(0,0,0,0.68);
    font-weight: bolder;
}

.animationTemoignage1 {
    animation-name: temoignage1;
    animation-duration: 2s;
    position: relative;
}

@keyframes temoignage1 {
    0% {left: -1000px;}
    100% {left: 0px;}
}

.animationTemoignage2 {
    animation-name: temoignage1;
    animation-duration: 1.5s;
    position: relative;
}

@keyframes temoignage2 {
    0% {left: -1000px;}
    100% {left: 0px;}
}

.animationTemoignage3 {
    animation-name: temoignage1;
    animation-duration: 1s;
    position: relative;
}

@keyframes temoignage3 {
    0% {left: -1000px;}
    100% {left: 0px;}
}

